.u-section-1 .u-sheet-1 {
  min-height: 1882px;
}

.u-section-1 .u-form-1 {
  height: 77px;
  width: 655px;
  margin: 64px 249px 0 536px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  margin: -60px auto 0 249px;
}

.u-section-1 .u-form-2 {
  height: 77px;
  width: 1400px;
  margin: 64px 10px 0 31px;
}

.u-section-1 .u-input-3 {
  height: 47px;
}

.u-section-1 .u-input-4 {
  height: 47px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  height: 47px;
}

.u-section-1 .u-label-6 {
  width: 100px;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  font-size: 1.875rem;
  margin: 55px auto 0 47px;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0 47px;
}

.u-section-1 .u-form-3 {
  height: 77px;
  margin: -84px 34px 0 1035px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  width: 100px;
}

.u-section-1 .u-table-1 {
  margin-top: 34px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-1 {
  margin-left: 0;
  margin-right: 1440px;
}

.u-section-1 .u-icon-1 {
  vertical-align: -2px;
  margin-left: 0;
}

.u-section-1 .u-icon-2 {
  vertical-align: -2px;
}

.u-section-1 .u-icon-3 {
  vertical-align: -2px;
}

.u-section-1 .u-table-cell-4 {
  margin-left: 1440px;
  margin-right: 0;
}

.u-section-1 .u-icon-4 {
  vertical-align: -2px;
}

.u-section-1 .u-table-cell-5 {
  margin-left: 1440px;
  margin-right: 0;
}

.u-section-1 .u-icon-5 {
  vertical-align: -2px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 100px auto 0 482px;
  padding: 11px 31px 11px 30px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -51px auto 0 627px;
  padding: 11px 31px 11px 30px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -51px auto 0 701px;
  padding: 11px 31px 11px 30px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -51px auto 0 776px;
  padding: 11px 31px 11px 30px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -51px auto 0 851px;
  padding: 11px 31px 11px 30px;
}

.u-section-1 .u-text-4 {
  margin: 254px 0 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 209px;
    margin-left: 335px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 209px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 0;
    margin-left: 0;
    width: 1199px;
  }

  .u-section-1 .u-form-3 {
    margin-right: 0;
    margin-left: 816px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 362px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 507px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 581px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 656px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 731px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 148px;
  }

  .u-section-1 .u-form-2 {
    width: 720px;
  }

  .u-section-1 .u-form-3 {
    margin-left: 337px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 288px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 288px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 288px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-form-2 {
    width: 540px;
    margin-top: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 31px;
  }

  .u-section-1 .u-form-3 {
    margin-left: 157px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 198px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 198px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 198px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 198px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 94px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 98px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 98px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 98px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 98px;
  }
}