.u-section-1 .u-sheet-1 {
  min-height: 1662px;
}

.u-section-1 .u-line-1 {
  position: absolute;
  top: 40px;
  left: auto;
  height: 400px;
  transform-origin: center top 0px;
  right: 564px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  margin: 40px 114px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  margin: -43px auto 0 60px;
}

.u-section-1 .u-form-1 {
  height: 380px;
  margin: 40px 654px 0 60px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-2 {
  height: 239px;
  --radio-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23478ac9'/%3e%3c/svg%3e");
  margin: -400px 265px 0 938px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-block-d33f-137 {
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  margin: 255px auto 0 60px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 20px auto 0 209px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: -38px auto 0 766px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: -28px auto 0 591px;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: -28px auto 0 60px;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 832px 0 386px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: -28px auto 0 60px;
}

.u-section-1 .u-table-1 {
  margin-top: 60px;
  margin-bottom: 0;
  height: 800px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-1 {
  margin-left: 0;
  margin-right: 1440px;
}

.u-section-1 .u-icon-1 {
  vertical-align: -2px;
  margin-left: 0;
}

.u-section-1 .u-icon-2 {
  vertical-align: -2px;
}

.u-section-1 .u-icon-3 {
  vertical-align: -2px;
}

.u-section-1 .u-table-cell-4 {
  margin-left: 1440px;
  margin-right: 0;
}

.u-section-1 .u-icon-4 {
  vertical-align: -2px;
}

.u-section-1 .u-table-cell-5 {
  margin-left: 1440px;
  margin-right: 0;
}

.u-section-1 .u-icon-5 {
  vertical-align: -2px;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-table-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 195px;
}

.u-block-d33f-206 {
  background-image: none;
}

.u-section-1 .u-table-body-2 {
  font-size: 1.25rem;
  background-image: none;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  background-image: none;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  

  .u-section-1 .u-form-1 {
    margin-right: 159px;
  }

  .u-section-1 .u-form-2 {
    margin-top: 238px;
    margin-right: 0;
    margin-left: 725px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 658px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -661px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 478px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 369px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 1051px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 1788px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1791px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }

  .u-section-1 .u-form-2 {
    margin-top: 1368px;
    margin-left: 246px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 287px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 222px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 598px;
    margin-left: 232px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 1465px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1461px;
  }

  .u-section-1 .u-form-2 {
    margin-top: 1052px;
    margin-left: 66px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 157px;
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    margin-top: 24px;
    margin-left: 215px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -77px;
    margin-left: 167px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    margin-right: 418px;
    margin-left: 174px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -20px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 1596px;
    margin-right: 72px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1584px;
  }

  .u-section-1 .u-form-2 {
    margin-top: 1077px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 99px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 135px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 218px;
    margin-left: 110px;
  }
}