.u-section-1 .u-sheet-1 {
  min-height: 88px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0 219px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -28px auto 0 12px;
}

.u-section-1 .u-icon-1 {
  width: 21px;
  height: 21px;
  margin: -24px auto 34px 160px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 103px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 101px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 791px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 9px 542px 0 auto;
}

.u-section-2 .u-gallery-1 {
  width: 569px;
  height: 699px;
  grid-gap: 10px 10px;
  margin: -36px auto 0 13px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-group-1 {
  width: 595px;
  height: auto;
  min-height: 90px;
  margin: -629px 203px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-2 {
  margin: 23px auto 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  font-weight: normal;
  margin: 49px auto 0 642px;
  padding: 12px 40px 13px;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  margin: -61px 485px 0 auto;
  padding: 12px 40px 13px;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  margin: -61px 310px 0 auto;
  padding: 12px 40px 13px;
}

.u-section-2 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  margin: -61px 136px 0 auto;
  padding: 12px 40px 13px;
}

.u-section-2 .u-btn-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  margin: 34px 675px 0 auto;
  padding: 12px 40px 13px;
}

.u-section-2 .u-btn-6 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  margin: 20px 662px 0 auto;
  padding: 12px 40px 13px;
}

.u-section-2 .u-btn-7 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  text-transform: none;
  margin: -61px 493px 0 auto;
  padding: 12px 40px 13px;
}

.u-section-2 .u-btn-8 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  text-transform: none;
  margin: -61px 322px 0 auto;
  padding: 12px 40px 13px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 34px 701px 0 auto;
}

.u-section-2 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 49px 619px 0 746px;
  padding: 11px 31px 11px 30px;
}

.u-section-2 .u-btn-10 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: -51px 510px 0 auto;
  padding: 11px 31px 11px 30px;
}

.u-section-2 .u-btn-11 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: -51px auto 0 645px;
  padding: 11px 31px 11px 30px;
}

.u-section-2 .u-line-1 {
  width: 710px;
  transform-origin: left center 0px;
  margin: 30px 89px 0 auto;
}

.u-section-2 .u-btn-12 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: solid;
  text-transform: none;
  margin: 45px 390px 37px auto;
  padding: 12px 40px 13px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 451px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 401px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 244px;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 69px;
  }

  .u-section-2 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 434px;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 421px;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 252px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 81px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 584px;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 499px;
    margin-left: 625px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 269px;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 404px;
  }

  .u-section-2 .u-btn-12 {
    margin-right: 149px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 271px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 125px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 351px;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 260px;
    margin-left: 386px;
  }

  .u-section-2 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    margin-right: 10px;
  }

  .u-section-2 .u-btn-12 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 203px;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 263px;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 170px;
    margin-left: 296px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 128px;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 166px;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 70px;
    margin-left: 196px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 404px;
}

.u-section-3 .u-text-1 {
  margin: 60px 0;
}.u-section-4 .u-sheet-1 {
  min-height: 464px;
}

.u-section-4 .u-table-1 {
  margin: 60px auto;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}