.u-section-1 .u-sheet-1 {
  min-height: 1655px;
}

.u-section-1 .u-table-1 {
  margin-top: 42px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.5rem;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -179px 625px 0px auto;
  padding: 11px 31px 11px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -52px 547px 0 auto;
  padding: 11px 31px 11px 30px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -52px 470px 1px auto;
  padding: 11px 31px 11px 30px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 610px;
  margin: -168px auto 0 93px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 263px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 201px;
  height: 231px;
  margin: 17px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 263px;
}

.u-section-1 .u-container-layout-2 {
  padding: 25px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 26px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 8px 26px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 17px 26px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 21px 260px 0 26px;
}

.u-section-1 .u-icon-6 {
  vertical-align: 0px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 100px auto 0 25px;
}

.u-section-1 .u-icon-7 {
  vertical-align: -1px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.875rem;
  text-transform: none;
  background-image: none;
  margin: 50px 0px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 428px;
    margin-right: 383px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 306px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 229px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -185px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 322px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 320px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 58px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 400px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -161px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 271px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 85px;
  }

  .u-section-1 .u-btn-4 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 2346px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -2103px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 554px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    margin-top: 1526px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 1490px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1251px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 86px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 887px;
  }
}