.u-section-1 .u-sheet-1 {
  min-height: 1653px;
}

.u-section-1 .u-form-1 {
  height: 107px;
  margin: 40px -26px 0 1169px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}



.u-section-1 .u-text-3 {
  font-weight: 500;
  margin: -80px auto 0 0px;
}
.u-section-1 .u-table-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.5rem;
}

.u-section-1 .u-table-cell-1 {
  margin-left: 0;
  margin-right: 1440px;
}

.u-section-1 .u-icon-1 {
  vertical-align: -2px;
  margin-left: 0;
}

.u-section-1 .u-icon-2 {
  vertical-align: -2px;
}

.u-section-1 .u-icon-3 {
  vertical-align: -2px;
}

.u-section-1 .u-table-cell-4 {
  margin-left: 1440px;
  margin-right: 0;
}

.u-section-1 .u-icon-4 {
  vertical-align: -2px;
}

.u-section-1 .u-table-cell-5 {
  margin-left: 1440px;
  margin-right: 0;
}

.u-section-1 .u-icon-5 {
  vertical-align: -2px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 64px auto 0 482px;
  padding: 11px 31px 11px 30px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -51px auto 0 627px;
  padding: 11px 31px 11px 30px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -51px auto 0 701px;
  padding: 11px 31px 11px 30px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -51px auto 0 776px;
  padding: 11px 31px 11px 30px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -51px auto 0 851px;
  padding: 11px 31px 11px 30px;
}

.u-section-1 .u-text-2 {
  margin: 16px auto 0 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-top: -10px;
    margin-left: 896px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -39px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 118px;
  }

  .u-section-1 .u-table-cell-1 {
    margin-right: 899px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-left: 900px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-left: 900px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 362px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 507px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 581px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 656px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 731px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-left: 417px;
  }

  .u-section-1 .u-table-cell-1 {
    margin-right: 540px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-left: 540px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-left: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 288px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 288px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 288px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-top: -13px;
    margin-left: 237px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -85px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 159px;
  }

  .u-section-1 .u-table-cell-1 {
    margin-right: 405px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-left: 405px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-left: 405px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 61px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 198px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 198px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 198px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-left: 37px;
  }

  .u-section-1 .u-table-cell-1 {
    margin-right: 318px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-left: 264px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-left: 264px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 86px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 98px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 98px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 98px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -6px;
  }
}